// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-i-fb-name: 'sp-i-fb';
$sp-i-fb-x: 0px;
$sp-i-fb-y: 0px;
$sp-i-fb-offset-x: 0px;
$sp-i-fb-offset-y: 0px;
$sp-i-fb-width: 24px;
$sp-i-fb-height: 24px;
$sp-i-fb-total-width: 82px;
$sp-i-fb-total-height: 53px;
$sp-i-fb-image: '../image/sprite.png';
$sp-i-fb: (0px, 0px, 0px, 0px, 24px, 24px, 82px, 53px, '../image/sprite.png', 'sp-i-fb', );
$sp-i-flags-name: 'sp-i-flags';
$sp-i-flags-x: 58px;
$sp-i-flags-y: 0px;
$sp-i-flags-offset-x: -58px;
$sp-i-flags-offset-y: 0px;
$sp-i-flags-width: 24px;
$sp-i-flags-height: 16px;
$sp-i-flags-total-width: 82px;
$sp-i-flags-total-height: 53px;
$sp-i-flags-image: '../image/sprite.png';
$sp-i-flags: (58px, 0px, -58px, 0px, 24px, 16px, 82px, 53px, '../image/sprite.png', 'sp-i-flags', );
$sp-i-gp-name: 'sp-i-gp';
$sp-i-gp-x: 29px;
$sp-i-gp-y: 0px;
$sp-i-gp-offset-x: -29px;
$sp-i-gp-offset-y: 0px;
$sp-i-gp-width: 24px;
$sp-i-gp-height: 24px;
$sp-i-gp-total-width: 82px;
$sp-i-gp-total-height: 53px;
$sp-i-gp-image: '../image/sprite.png';
$sp-i-gp: (29px, 0px, -29px, 0px, 24px, 24px, 82px, 53px, '../image/sprite.png', 'sp-i-gp', );
$sp-i-l-name: 'sp-i-l';
$sp-i-l-x: 0px;
$sp-i-l-y: 29px;
$sp-i-l-offset-x: 0px;
$sp-i-l-offset-y: -29px;
$sp-i-l-width: 24px;
$sp-i-l-height: 24px;
$sp-i-l-total-width: 82px;
$sp-i-l-total-height: 53px;
$sp-i-l-image: '../image/sprite.png';
$sp-i-l: (0px, 29px, 0px, -29px, 24px, 24px, 82px, 53px, '../image/sprite.png', 'sp-i-l', );
$sp-i-tw-name: 'sp-i-tw';
$sp-i-tw-x: 29px;
$sp-i-tw-y: 29px;
$sp-i-tw-offset-x: -29px;
$sp-i-tw-offset-y: -29px;
$sp-i-tw-width: 24px;
$sp-i-tw-height: 24px;
$sp-i-tw-total-width: 82px;
$sp-i-tw-total-height: 53px;
$sp-i-tw-image: '../image/sprite.png';
$sp-i-tw: (29px, 29px, -29px, -29px, 24px, 24px, 82px, 53px, '../image/sprite.png', 'sp-i-tw', );
$sp-i-fb-2x-name: 'sp-i-fb@2x';
$sp-i-fb-2x-x: 0px;
$sp-i-fb-2x-y: 0px;
$sp-i-fb-2x-offset-x: 0px;
$sp-i-fb-2x-offset-y: 0px;
$sp-i-fb-2x-width: 48px;
$sp-i-fb-2x-height: 48px;
$sp-i-fb-2x-total-width: 164px;
$sp-i-fb-2x-total-height: 106px;
$sp-i-fb-2x-image: '../image/sprite@2x.png';
$sp-i-fb-2x: (0px, 0px, 0px, 0px, 48px, 48px, 164px, 106px, '../image/sprite@2x.png', 'sp-i-fb@2x', );
$sp-i-flags-2x-name: 'sp-i-flags@2x';
$sp-i-flags-2x-x: 116px;
$sp-i-flags-2x-y: 0px;
$sp-i-flags-2x-offset-x: -116px;
$sp-i-flags-2x-offset-y: 0px;
$sp-i-flags-2x-width: 48px;
$sp-i-flags-2x-height: 32px;
$sp-i-flags-2x-total-width: 164px;
$sp-i-flags-2x-total-height: 106px;
$sp-i-flags-2x-image: '../image/sprite@2x.png';
$sp-i-flags-2x: (116px, 0px, -116px, 0px, 48px, 32px, 164px, 106px, '../image/sprite@2x.png', 'sp-i-flags@2x', );
$sp-i-gp-2x-name: 'sp-i-gp@2x';
$sp-i-gp-2x-x: 58px;
$sp-i-gp-2x-y: 0px;
$sp-i-gp-2x-offset-x: -58px;
$sp-i-gp-2x-offset-y: 0px;
$sp-i-gp-2x-width: 48px;
$sp-i-gp-2x-height: 48px;
$sp-i-gp-2x-total-width: 164px;
$sp-i-gp-2x-total-height: 106px;
$sp-i-gp-2x-image: '../image/sprite@2x.png';
$sp-i-gp-2x: (58px, 0px, -58px, 0px, 48px, 48px, 164px, 106px, '../image/sprite@2x.png', 'sp-i-gp@2x', );
$sp-i-l-2x-name: 'sp-i-l@2x';
$sp-i-l-2x-x: 0px;
$sp-i-l-2x-y: 58px;
$sp-i-l-2x-offset-x: 0px;
$sp-i-l-2x-offset-y: -58px;
$sp-i-l-2x-width: 48px;
$sp-i-l-2x-height: 48px;
$sp-i-l-2x-total-width: 164px;
$sp-i-l-2x-total-height: 106px;
$sp-i-l-2x-image: '../image/sprite@2x.png';
$sp-i-l-2x: (0px, 58px, 0px, -58px, 48px, 48px, 164px, 106px, '../image/sprite@2x.png', 'sp-i-l@2x', );
$sp-i-tw-2x-name: 'sp-i-tw@2x';
$sp-i-tw-2x-x: 58px;
$sp-i-tw-2x-y: 58px;
$sp-i-tw-2x-offset-x: -58px;
$sp-i-tw-2x-offset-y: -58px;
$sp-i-tw-2x-width: 48px;
$sp-i-tw-2x-height: 48px;
$sp-i-tw-2x-total-width: 164px;
$sp-i-tw-2x-total-height: 106px;
$sp-i-tw-2x-image: '../image/sprite@2x.png';
$sp-i-tw-2x: (58px, 58px, -58px, -58px, 48px, 48px, 164px, 106px, '../image/sprite@2x.png', 'sp-i-tw@2x', );
$spritesheet-width: 82px;
$spritesheet-height: 53px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($sp-i-fb, $sp-i-flags, $sp-i-gp, $sp-i-l, $sp-i-tw, );
$spritesheet: (82px, 53px, '../image/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 164px;
$retina-spritesheet-height: 106px;
$retina-spritesheet-image: '../image/sprite@2x.png';
$retina-spritesheet-sprites: ($sp-i-fb-2x, $sp-i-flags-2x, $sp-i-gp-2x, $sp-i-l-2x, $sp-i-tw-2x, );
$retina-spritesheet: (164px, 106px, '../image/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sp-i-fb-group-name: 'sp-i-fb';
$sp-i-fb-group: ('sp-i-fb', $sp-i-fb, $sp-i-fb-2x, );
$sp-i-flags-group-name: 'sp-i-flags';
$sp-i-flags-group: ('sp-i-flags', $sp-i-flags, $sp-i-flags-2x, );
$sp-i-gp-group-name: 'sp-i-gp';
$sp-i-gp-group: ('sp-i-gp', $sp-i-gp, $sp-i-gp-2x, );
$sp-i-l-group-name: 'sp-i-l';
$sp-i-l-group: ('sp-i-l', $sp-i-l, $sp-i-l-2x, );
$sp-i-tw-group-name: 'sp-i-tw';
$sp-i-tw-group: ('sp-i-tw', $sp-i-tw, $sp-i-tw-2x, );
$retina-groups: ($sp-i-fb-group, $sp-i-flags-group, $sp-i-gp-group, $sp-i-l-group, $sp-i-tw-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
