// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sp-i-dashboard-assessment-name: 'sp-i-dashboard-assessment';
$sp-i-dashboard-assessment-x: 76px;
$sp-i-dashboard-assessment-y: 82px;
$sp-i-dashboard-assessment-offset-x: -76px;
$sp-i-dashboard-assessment-offset-y: -82px;
$sp-i-dashboard-assessment-width: 70px;
$sp-i-dashboard-assessment-height: 56px;
$sp-i-dashboard-assessment-total-width: 219px;
$sp-i-dashboard-assessment-total-height: 205px;
$sp-i-dashboard-assessment-image: '../image/sprite.png';
$sp-i-dashboard-assessment: (76px, 82px, -76px, -82px, 70px, 56px, 219px, 205px, '../image/sprite.png', 'sp-i-dashboard-assessment', );
$sp-i-dashboard-certificate-name: 'sp-i-dashboard-certificate';
$sp-i-dashboard-certificate-x: 151px;
$sp-i-dashboard-certificate-y: 52px;
$sp-i-dashboard-certificate-offset-x: -151px;
$sp-i-dashboard-certificate-offset-y: -52px;
$sp-i-dashboard-certificate-width: 48px;
$sp-i-dashboard-certificate-height: 61px;
$sp-i-dashboard-certificate-total-width: 219px;
$sp-i-dashboard-certificate-total-height: 205px;
$sp-i-dashboard-certificate-image: '../image/sprite.png';
$sp-i-dashboard-certificate: (151px, 52px, -151px, -52px, 48px, 61px, 219px, 205px, '../image/sprite.png', 'sp-i-dashboard-certificate', );
$sp-i-dashboard-level-name: 'sp-i-dashboard-level';
$sp-i-dashboard-level-x: 0px;
$sp-i-dashboard-level-y: 82px;
$sp-i-dashboard-level-offset-x: 0px;
$sp-i-dashboard-level-offset-y: -82px;
$sp-i-dashboard-level-width: 71px;
$sp-i-dashboard-level-height: 61px;
$sp-i-dashboard-level-total-width: 219px;
$sp-i-dashboard-level-total-height: 205px;
$sp-i-dashboard-level-image: '../image/sprite.png';
$sp-i-dashboard-level: (0px, 82px, 0px, -82px, 71px, 61px, 219px, 205px, '../image/sprite.png', 'sp-i-dashboard-level', );
$sp-i-dashboard-link-name: 'sp-i-dashboard-link';
$sp-i-dashboard-link-x: 80px;
$sp-i-dashboard-link-y: 0px;
$sp-i-dashboard-link-offset-x: -80px;
$sp-i-dashboard-link-offset-y: 0px;
$sp-i-dashboard-link-width: 66px;
$sp-i-dashboard-link-height: 68px;
$sp-i-dashboard-link-total-width: 219px;
$sp-i-dashboard-link-total-height: 205px;
$sp-i-dashboard-link-image: '../image/sprite.png';
$sp-i-dashboard-link: (80px, 0px, -80px, 0px, 66px, 68px, 219px, 205px, '../image/sprite.png', 'sp-i-dashboard-link', );
$sp-i-dashboard-message-name: 'sp-i-dashboard-message';
$sp-i-dashboard-message-x: 151px;
$sp-i-dashboard-message-y: 0px;
$sp-i-dashboard-message-offset-x: -151px;
$sp-i-dashboard-message-offset-y: 0px;
$sp-i-dashboard-message-width: 68px;
$sp-i-dashboard-message-height: 47px;
$sp-i-dashboard-message-total-width: 219px;
$sp-i-dashboard-message-total-height: 205px;
$sp-i-dashboard-message-image: '../image/sprite.png';
$sp-i-dashboard-message: (151px, 0px, -151px, 0px, 68px, 47px, 219px, 205px, '../image/sprite.png', 'sp-i-dashboard-message', );
$sp-i-dashboard-ultrasound-name: 'sp-i-dashboard-ultrasound';
$sp-i-dashboard-ultrasound-x: 0px;
$sp-i-dashboard-ultrasound-y: 0px;
$sp-i-dashboard-ultrasound-offset-x: 0px;
$sp-i-dashboard-ultrasound-offset-y: 0px;
$sp-i-dashboard-ultrasound-width: 75px;
$sp-i-dashboard-ultrasound-height: 77px;
$sp-i-dashboard-ultrasound-total-width: 219px;
$sp-i-dashboard-ultrasound-total-height: 205px;
$sp-i-dashboard-ultrasound-image: '../image/sprite.png';
$sp-i-dashboard-ultrasound: (0px, 0px, 0px, 0px, 75px, 77px, 219px, 205px, '../image/sprite.png', 'sp-i-dashboard-ultrasound', );
$sp-i-fb-name: 'sp-i-fb';
$sp-i-fb-x: 151px;
$sp-i-fb-y: 118px;
$sp-i-fb-offset-x: -151px;
$sp-i-fb-offset-y: -118px;
$sp-i-fb-width: 24px;
$sp-i-fb-height: 24px;
$sp-i-fb-total-width: 219px;
$sp-i-fb-total-height: 205px;
$sp-i-fb-image: '../image/sprite.png';
$sp-i-fb: (151px, 118px, -151px, -118px, 24px, 24px, 219px, 205px, '../image/sprite.png', 'sp-i-fb', );
$sp-i-flags-name: 'sp-i-flags';
$sp-i-flags-x: 174px;
$sp-i-flags-y: 148px;
$sp-i-flags-offset-x: -174px;
$sp-i-flags-offset-y: -148px;
$sp-i-flags-width: 24px;
$sp-i-flags-height: 16px;
$sp-i-flags-total-width: 219px;
$sp-i-flags-total-height: 205px;
$sp-i-flags-image: '../image/sprite.png';
$sp-i-flags: (174px, 148px, -174px, -148px, 24px, 16px, 219px, 205px, '../image/sprite.png', 'sp-i-flags', );
$sp-i-gp-name: 'sp-i-gp';
$sp-i-gp-x: 116px;
$sp-i-gp-y: 148px;
$sp-i-gp-offset-x: -116px;
$sp-i-gp-offset-y: -148px;
$sp-i-gp-width: 24px;
$sp-i-gp-height: 24px;
$sp-i-gp-total-width: 219px;
$sp-i-gp-total-height: 205px;
$sp-i-gp-image: '../image/sprite.png';
$sp-i-gp: (116px, 148px, -116px, -148px, 24px, 24px, 219px, 205px, '../image/sprite.png', 'sp-i-gp', );
$sp-i-l-name: 'sp-i-l';
$sp-i-l-x: 145px;
$sp-i-l-y: 148px;
$sp-i-l-offset-x: -145px;
$sp-i-l-offset-y: -148px;
$sp-i-l-width: 24px;
$sp-i-l-height: 24px;
$sp-i-l-total-width: 219px;
$sp-i-l-total-height: 205px;
$sp-i-l-image: '../image/sprite.png';
$sp-i-l: (145px, 148px, -145px, -148px, 24px, 24px, 219px, 205px, '../image/sprite.png', 'sp-i-l', );
$sp-i-swiper-arr-next-hover-name: 'sp-i-swiper-arr-next-hover';
$sp-i-swiper-arr-next-hover-x: 0px;
$sp-i-swiper-arr-next-hover-y: 148px;
$sp-i-swiper-arr-next-hover-offset-x: 0px;
$sp-i-swiper-arr-next-hover-offset-y: -148px;
$sp-i-swiper-arr-next-hover-width: 24px;
$sp-i-swiper-arr-next-hover-height: 57px;
$sp-i-swiper-arr-next-hover-total-width: 219px;
$sp-i-swiper-arr-next-hover-total-height: 205px;
$sp-i-swiper-arr-next-hover-image: '../image/sprite.png';
$sp-i-swiper-arr-next-hover: (0px, 148px, 0px, -148px, 24px, 57px, 219px, 205px, '../image/sprite.png', 'sp-i-swiper-arr-next-hover', );
$sp-i-swiper-arr-next-name: 'sp-i-swiper-arr-next';
$sp-i-swiper-arr-next-x: 29px;
$sp-i-swiper-arr-next-y: 148px;
$sp-i-swiper-arr-next-offset-x: -29px;
$sp-i-swiper-arr-next-offset-y: -148px;
$sp-i-swiper-arr-next-width: 24px;
$sp-i-swiper-arr-next-height: 57px;
$sp-i-swiper-arr-next-total-width: 219px;
$sp-i-swiper-arr-next-total-height: 205px;
$sp-i-swiper-arr-next-image: '../image/sprite.png';
$sp-i-swiper-arr-next: (29px, 148px, -29px, -148px, 24px, 57px, 219px, 205px, '../image/sprite.png', 'sp-i-swiper-arr-next', );
$sp-i-swiper-arr-prev-hover-name: 'sp-i-swiper-arr-prev-hover';
$sp-i-swiper-arr-prev-hover-x: 58px;
$sp-i-swiper-arr-prev-hover-y: 148px;
$sp-i-swiper-arr-prev-hover-offset-x: -58px;
$sp-i-swiper-arr-prev-hover-offset-y: -148px;
$sp-i-swiper-arr-prev-hover-width: 24px;
$sp-i-swiper-arr-prev-hover-height: 57px;
$sp-i-swiper-arr-prev-hover-total-width: 219px;
$sp-i-swiper-arr-prev-hover-total-height: 205px;
$sp-i-swiper-arr-prev-hover-image: '../image/sprite.png';
$sp-i-swiper-arr-prev-hover: (58px, 148px, -58px, -148px, 24px, 57px, 219px, 205px, '../image/sprite.png', 'sp-i-swiper-arr-prev-hover', );
$sp-i-swiper-arr-prev-name: 'sp-i-swiper-arr-prev';
$sp-i-swiper-arr-prev-x: 87px;
$sp-i-swiper-arr-prev-y: 148px;
$sp-i-swiper-arr-prev-offset-x: -87px;
$sp-i-swiper-arr-prev-offset-y: -148px;
$sp-i-swiper-arr-prev-width: 24px;
$sp-i-swiper-arr-prev-height: 57px;
$sp-i-swiper-arr-prev-total-width: 219px;
$sp-i-swiper-arr-prev-total-height: 205px;
$sp-i-swiper-arr-prev-image: '../image/sprite.png';
$sp-i-swiper-arr-prev: (87px, 148px, -87px, -148px, 24px, 57px, 219px, 205px, '../image/sprite.png', 'sp-i-swiper-arr-prev', );
$sp-i-tw-name: 'sp-i-tw';
$sp-i-tw-x: 180px;
$sp-i-tw-y: 118px;
$sp-i-tw-offset-x: -180px;
$sp-i-tw-offset-y: -118px;
$sp-i-tw-width: 24px;
$sp-i-tw-height: 24px;
$sp-i-tw-total-width: 219px;
$sp-i-tw-total-height: 205px;
$sp-i-tw-image: '../image/sprite.png';
$sp-i-tw: (180px, 118px, -180px, -118px, 24px, 24px, 219px, 205px, '../image/sprite.png', 'sp-i-tw', );
$sp-i-dashboard-assessment-2x-name: 'sp-i-dashboard-assessment@2x';
$sp-i-dashboard-assessment-2x-x: 152px;
$sp-i-dashboard-assessment-2x-y: 164px;
$sp-i-dashboard-assessment-2x-offset-x: -152px;
$sp-i-dashboard-assessment-2x-offset-y: -164px;
$sp-i-dashboard-assessment-2x-width: 140px;
$sp-i-dashboard-assessment-2x-height: 112px;
$sp-i-dashboard-assessment-2x-total-width: 438px;
$sp-i-dashboard-assessment-2x-total-height: 410px;
$sp-i-dashboard-assessment-2x-image: '../image/sprite@2x.png';
$sp-i-dashboard-assessment-2x: (152px, 164px, -152px, -164px, 140px, 112px, 438px, 410px, '../image/sprite@2x.png', 'sp-i-dashboard-assessment@2x', );
$sp-i-dashboard-certificate-2x-name: 'sp-i-dashboard-certificate@2x';
$sp-i-dashboard-certificate-2x-x: 302px;
$sp-i-dashboard-certificate-2x-y: 104px;
$sp-i-dashboard-certificate-2x-offset-x: -302px;
$sp-i-dashboard-certificate-2x-offset-y: -104px;
$sp-i-dashboard-certificate-2x-width: 96px;
$sp-i-dashboard-certificate-2x-height: 122px;
$sp-i-dashboard-certificate-2x-total-width: 438px;
$sp-i-dashboard-certificate-2x-total-height: 410px;
$sp-i-dashboard-certificate-2x-image: '../image/sprite@2x.png';
$sp-i-dashboard-certificate-2x: (302px, 104px, -302px, -104px, 96px, 122px, 438px, 410px, '../image/sprite@2x.png', 'sp-i-dashboard-certificate@2x', );
$sp-i-dashboard-level-2x-name: 'sp-i-dashboard-level@2x';
$sp-i-dashboard-level-2x-x: 0px;
$sp-i-dashboard-level-2x-y: 164px;
$sp-i-dashboard-level-2x-offset-x: 0px;
$sp-i-dashboard-level-2x-offset-y: -164px;
$sp-i-dashboard-level-2x-width: 142px;
$sp-i-dashboard-level-2x-height: 122px;
$sp-i-dashboard-level-2x-total-width: 438px;
$sp-i-dashboard-level-2x-total-height: 410px;
$sp-i-dashboard-level-2x-image: '../image/sprite@2x.png';
$sp-i-dashboard-level-2x: (0px, 164px, 0px, -164px, 142px, 122px, 438px, 410px, '../image/sprite@2x.png', 'sp-i-dashboard-level@2x', );
$sp-i-dashboard-link-2x-name: 'sp-i-dashboard-link@2x';
$sp-i-dashboard-link-2x-x: 160px;
$sp-i-dashboard-link-2x-y: 0px;
$sp-i-dashboard-link-2x-offset-x: -160px;
$sp-i-dashboard-link-2x-offset-y: 0px;
$sp-i-dashboard-link-2x-width: 132px;
$sp-i-dashboard-link-2x-height: 136px;
$sp-i-dashboard-link-2x-total-width: 438px;
$sp-i-dashboard-link-2x-total-height: 410px;
$sp-i-dashboard-link-2x-image: '../image/sprite@2x.png';
$sp-i-dashboard-link-2x: (160px, 0px, -160px, 0px, 132px, 136px, 438px, 410px, '../image/sprite@2x.png', 'sp-i-dashboard-link@2x', );
$sp-i-dashboard-message-2x-name: 'sp-i-dashboard-message@2x';
$sp-i-dashboard-message-2x-x: 302px;
$sp-i-dashboard-message-2x-y: 0px;
$sp-i-dashboard-message-2x-offset-x: -302px;
$sp-i-dashboard-message-2x-offset-y: 0px;
$sp-i-dashboard-message-2x-width: 136px;
$sp-i-dashboard-message-2x-height: 94px;
$sp-i-dashboard-message-2x-total-width: 438px;
$sp-i-dashboard-message-2x-total-height: 410px;
$sp-i-dashboard-message-2x-image: '../image/sprite@2x.png';
$sp-i-dashboard-message-2x: (302px, 0px, -302px, 0px, 136px, 94px, 438px, 410px, '../image/sprite@2x.png', 'sp-i-dashboard-message@2x', );
$sp-i-dashboard-ultrasound-2x-name: 'sp-i-dashboard-ultrasound@2x';
$sp-i-dashboard-ultrasound-2x-x: 0px;
$sp-i-dashboard-ultrasound-2x-y: 0px;
$sp-i-dashboard-ultrasound-2x-offset-x: 0px;
$sp-i-dashboard-ultrasound-2x-offset-y: 0px;
$sp-i-dashboard-ultrasound-2x-width: 150px;
$sp-i-dashboard-ultrasound-2x-height: 154px;
$sp-i-dashboard-ultrasound-2x-total-width: 438px;
$sp-i-dashboard-ultrasound-2x-total-height: 410px;
$sp-i-dashboard-ultrasound-2x-image: '../image/sprite@2x.png';
$sp-i-dashboard-ultrasound-2x: (0px, 0px, 0px, 0px, 150px, 154px, 438px, 410px, '../image/sprite@2x.png', 'sp-i-dashboard-ultrasound@2x', );
$sp-i-fb-2x-name: 'sp-i-fb@2x';
$sp-i-fb-2x-x: 302px;
$sp-i-fb-2x-y: 236px;
$sp-i-fb-2x-offset-x: -302px;
$sp-i-fb-2x-offset-y: -236px;
$sp-i-fb-2x-width: 48px;
$sp-i-fb-2x-height: 48px;
$sp-i-fb-2x-total-width: 438px;
$sp-i-fb-2x-total-height: 410px;
$sp-i-fb-2x-image: '../image/sprite@2x.png';
$sp-i-fb-2x: (302px, 236px, -302px, -236px, 48px, 48px, 438px, 410px, '../image/sprite@2x.png', 'sp-i-fb@2x', );
$sp-i-flags-2x-name: 'sp-i-flags@2x';
$sp-i-flags-2x-x: 348px;
$sp-i-flags-2x-y: 296px;
$sp-i-flags-2x-offset-x: -348px;
$sp-i-flags-2x-offset-y: -296px;
$sp-i-flags-2x-width: 48px;
$sp-i-flags-2x-height: 32px;
$sp-i-flags-2x-total-width: 438px;
$sp-i-flags-2x-total-height: 410px;
$sp-i-flags-2x-image: '../image/sprite@2x.png';
$sp-i-flags-2x: (348px, 296px, -348px, -296px, 48px, 32px, 438px, 410px, '../image/sprite@2x.png', 'sp-i-flags@2x', );
$sp-i-gp-2x-name: 'sp-i-gp@2x';
$sp-i-gp-2x-x: 232px;
$sp-i-gp-2x-y: 296px;
$sp-i-gp-2x-offset-x: -232px;
$sp-i-gp-2x-offset-y: -296px;
$sp-i-gp-2x-width: 48px;
$sp-i-gp-2x-height: 48px;
$sp-i-gp-2x-total-width: 438px;
$sp-i-gp-2x-total-height: 410px;
$sp-i-gp-2x-image: '../image/sprite@2x.png';
$sp-i-gp-2x: (232px, 296px, -232px, -296px, 48px, 48px, 438px, 410px, '../image/sprite@2x.png', 'sp-i-gp@2x', );
$sp-i-l-2x-name: 'sp-i-l@2x';
$sp-i-l-2x-x: 290px;
$sp-i-l-2x-y: 296px;
$sp-i-l-2x-offset-x: -290px;
$sp-i-l-2x-offset-y: -296px;
$sp-i-l-2x-width: 48px;
$sp-i-l-2x-height: 48px;
$sp-i-l-2x-total-width: 438px;
$sp-i-l-2x-total-height: 410px;
$sp-i-l-2x-image: '../image/sprite@2x.png';
$sp-i-l-2x: (290px, 296px, -290px, -296px, 48px, 48px, 438px, 410px, '../image/sprite@2x.png', 'sp-i-l@2x', );
$sp-i-swiper-arr-next-hover-2x-name: 'sp-i-swiper-arr-next-hover@2x';
$sp-i-swiper-arr-next-hover-2x-x: 0px;
$sp-i-swiper-arr-next-hover-2x-y: 296px;
$sp-i-swiper-arr-next-hover-2x-offset-x: 0px;
$sp-i-swiper-arr-next-hover-2x-offset-y: -296px;
$sp-i-swiper-arr-next-hover-2x-width: 48px;
$sp-i-swiper-arr-next-hover-2x-height: 114px;
$sp-i-swiper-arr-next-hover-2x-total-width: 438px;
$sp-i-swiper-arr-next-hover-2x-total-height: 410px;
$sp-i-swiper-arr-next-hover-2x-image: '../image/sprite@2x.png';
$sp-i-swiper-arr-next-hover-2x: (0px, 296px, 0px, -296px, 48px, 114px, 438px, 410px, '../image/sprite@2x.png', 'sp-i-swiper-arr-next-hover@2x', );
$sp-i-swiper-arr-next-2x-name: 'sp-i-swiper-arr-next@2x';
$sp-i-swiper-arr-next-2x-x: 58px;
$sp-i-swiper-arr-next-2x-y: 296px;
$sp-i-swiper-arr-next-2x-offset-x: -58px;
$sp-i-swiper-arr-next-2x-offset-y: -296px;
$sp-i-swiper-arr-next-2x-width: 48px;
$sp-i-swiper-arr-next-2x-height: 114px;
$sp-i-swiper-arr-next-2x-total-width: 438px;
$sp-i-swiper-arr-next-2x-total-height: 410px;
$sp-i-swiper-arr-next-2x-image: '../image/sprite@2x.png';
$sp-i-swiper-arr-next-2x: (58px, 296px, -58px, -296px, 48px, 114px, 438px, 410px, '../image/sprite@2x.png', 'sp-i-swiper-arr-next@2x', );
$sp-i-swiper-arr-prev-hover-2x-name: 'sp-i-swiper-arr-prev-hover@2x';
$sp-i-swiper-arr-prev-hover-2x-x: 116px;
$sp-i-swiper-arr-prev-hover-2x-y: 296px;
$sp-i-swiper-arr-prev-hover-2x-offset-x: -116px;
$sp-i-swiper-arr-prev-hover-2x-offset-y: -296px;
$sp-i-swiper-arr-prev-hover-2x-width: 48px;
$sp-i-swiper-arr-prev-hover-2x-height: 114px;
$sp-i-swiper-arr-prev-hover-2x-total-width: 438px;
$sp-i-swiper-arr-prev-hover-2x-total-height: 410px;
$sp-i-swiper-arr-prev-hover-2x-image: '../image/sprite@2x.png';
$sp-i-swiper-arr-prev-hover-2x: (116px, 296px, -116px, -296px, 48px, 114px, 438px, 410px, '../image/sprite@2x.png', 'sp-i-swiper-arr-prev-hover@2x', );
$sp-i-swiper-arr-prev-2x-name: 'sp-i-swiper-arr-prev@2x';
$sp-i-swiper-arr-prev-2x-x: 174px;
$sp-i-swiper-arr-prev-2x-y: 296px;
$sp-i-swiper-arr-prev-2x-offset-x: -174px;
$sp-i-swiper-arr-prev-2x-offset-y: -296px;
$sp-i-swiper-arr-prev-2x-width: 48px;
$sp-i-swiper-arr-prev-2x-height: 114px;
$sp-i-swiper-arr-prev-2x-total-width: 438px;
$sp-i-swiper-arr-prev-2x-total-height: 410px;
$sp-i-swiper-arr-prev-2x-image: '../image/sprite@2x.png';
$sp-i-swiper-arr-prev-2x: (174px, 296px, -174px, -296px, 48px, 114px, 438px, 410px, '../image/sprite@2x.png', 'sp-i-swiper-arr-prev@2x', );
$sp-i-tw-2x-name: 'sp-i-tw@2x';
$sp-i-tw-2x-x: 360px;
$sp-i-tw-2x-y: 236px;
$sp-i-tw-2x-offset-x: -360px;
$sp-i-tw-2x-offset-y: -236px;
$sp-i-tw-2x-width: 48px;
$sp-i-tw-2x-height: 48px;
$sp-i-tw-2x-total-width: 438px;
$sp-i-tw-2x-total-height: 410px;
$sp-i-tw-2x-image: '../image/sprite@2x.png';
$sp-i-tw-2x: (360px, 236px, -360px, -236px, 48px, 48px, 438px, 410px, '../image/sprite@2x.png', 'sp-i-tw@2x', );
$spritesheet-width: 219px;
$spritesheet-height: 205px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($sp-i-dashboard-assessment, $sp-i-dashboard-certificate, $sp-i-dashboard-level, $sp-i-dashboard-link, $sp-i-dashboard-message, $sp-i-dashboard-ultrasound, $sp-i-fb, $sp-i-flags, $sp-i-gp, $sp-i-l, $sp-i-swiper-arr-next-hover, $sp-i-swiper-arr-next, $sp-i-swiper-arr-prev-hover, $sp-i-swiper-arr-prev, $sp-i-tw, );
$spritesheet: (219px, 205px, '../image/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 438px;
$retina-spritesheet-height: 410px;
$retina-spritesheet-image: '../image/sprite@2x.png';
$retina-spritesheet-sprites: ($sp-i-dashboard-assessment-2x, $sp-i-dashboard-certificate-2x, $sp-i-dashboard-level-2x, $sp-i-dashboard-link-2x, $sp-i-dashboard-message-2x, $sp-i-dashboard-ultrasound-2x, $sp-i-fb-2x, $sp-i-flags-2x, $sp-i-gp-2x, $sp-i-l-2x, $sp-i-swiper-arr-next-hover-2x, $sp-i-swiper-arr-next-2x, $sp-i-swiper-arr-prev-hover-2x, $sp-i-swiper-arr-prev-2x, $sp-i-tw-2x, );
$retina-spritesheet: (438px, 410px, '../image/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$sp-i-dashboard-assessment-group-name: 'sp-i-dashboard-assessment';
$sp-i-dashboard-assessment-group: ('sp-i-dashboard-assessment', $sp-i-dashboard-assessment, $sp-i-dashboard-assessment-2x, );
$sp-i-dashboard-certificate-group-name: 'sp-i-dashboard-certificate';
$sp-i-dashboard-certificate-group: ('sp-i-dashboard-certificate', $sp-i-dashboard-certificate, $sp-i-dashboard-certificate-2x, );
$sp-i-dashboard-level-group-name: 'sp-i-dashboard-level';
$sp-i-dashboard-level-group: ('sp-i-dashboard-level', $sp-i-dashboard-level, $sp-i-dashboard-level-2x, );
$sp-i-dashboard-link-group-name: 'sp-i-dashboard-link';
$sp-i-dashboard-link-group: ('sp-i-dashboard-link', $sp-i-dashboard-link, $sp-i-dashboard-link-2x, );
$sp-i-dashboard-message-group-name: 'sp-i-dashboard-message';
$sp-i-dashboard-message-group: ('sp-i-dashboard-message', $sp-i-dashboard-message, $sp-i-dashboard-message-2x, );
$sp-i-dashboard-ultrasound-group-name: 'sp-i-dashboard-ultrasound';
$sp-i-dashboard-ultrasound-group: ('sp-i-dashboard-ultrasound', $sp-i-dashboard-ultrasound, $sp-i-dashboard-ultrasound-2x, );
$sp-i-fb-group-name: 'sp-i-fb';
$sp-i-fb-group: ('sp-i-fb', $sp-i-fb, $sp-i-fb-2x, );
$sp-i-flags-group-name: 'sp-i-flags';
$sp-i-flags-group: ('sp-i-flags', $sp-i-flags, $sp-i-flags-2x, );
$sp-i-gp-group-name: 'sp-i-gp';
$sp-i-gp-group: ('sp-i-gp', $sp-i-gp, $sp-i-gp-2x, );
$sp-i-l-group-name: 'sp-i-l';
$sp-i-l-group: ('sp-i-l', $sp-i-l, $sp-i-l-2x, );
$sp-i-swiper-arr-next-hover-group-name: 'sp-i-swiper-arr-next-hover';
$sp-i-swiper-arr-next-hover-group: ('sp-i-swiper-arr-next-hover', $sp-i-swiper-arr-next-hover, $sp-i-swiper-arr-next-hover-2x, );
$sp-i-swiper-arr-next-group-name: 'sp-i-swiper-arr-next';
$sp-i-swiper-arr-next-group: ('sp-i-swiper-arr-next', $sp-i-swiper-arr-next, $sp-i-swiper-arr-next-2x, );
$sp-i-swiper-arr-prev-hover-group-name: 'sp-i-swiper-arr-prev-hover';
$sp-i-swiper-arr-prev-hover-group: ('sp-i-swiper-arr-prev-hover', $sp-i-swiper-arr-prev-hover, $sp-i-swiper-arr-prev-hover-2x, );
$sp-i-swiper-arr-prev-group-name: 'sp-i-swiper-arr-prev';
$sp-i-swiper-arr-prev-group: ('sp-i-swiper-arr-prev', $sp-i-swiper-arr-prev, $sp-i-swiper-arr-prev-2x, );
$sp-i-tw-group-name: 'sp-i-tw';
$sp-i-tw-group: ('sp-i-tw', $sp-i-tw, $sp-i-tw-2x, );
$retina-groups: ($sp-i-dashboard-assessment-group, $sp-i-dashboard-certificate-group, $sp-i-dashboard-level-group, $sp-i-dashboard-link-group, $sp-i-dashboard-message-group, $sp-i-dashboard-ultrasound-group, $sp-i-fb-group, $sp-i-flags-group, $sp-i-gp-group, $sp-i-l-group, $sp-i-swiper-arr-next-hover-group, $sp-i-swiper-arr-next-group, $sp-i-swiper-arr-prev-hover-group, $sp-i-swiper-arr-prev-group, $sp-i-tw-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
