@import "../_function/function";

////
/// @group  Variable
////

///
/// @name   object
///

// Open Sans - OS
// Proxima Nova - PN

$object : (
	color : (
		white             : #FFF,
		black             : #000,
		nero              : #191919,
		light-grey        : #d5d5d5,
		azure		      : #f5f6f6,
		aqua		      : #00e4ff,
		prussian-blue     : #03325f,
		venice-blue       : #315477,
		lynch		      : #5e768b,
		pacific-blue      : #1187C8,
	),

	fonts : (
		OS-regular		: "opensans-regular",
		OS-light		: "opensans-light",
		OS-bold			: "opensans-bold",
		OS-semibold		: "opensans-semibold",
		OS-extrabold	: "opensans-extrabold",
		PN-thin			: "proxima-nova-thin",
		PN-light		: "proxima-nova-light",
		PN-regular		: "proxima-nova-regular",
		PN-semibold		: "proxima-nova-semibold",
		PN-bold			: "proxima-nova-bold",
		PN-extrabold	: "proxima-nova-extrabold",
		PN-black		: "proxima-nova-black",
	),

	dimension : (
		all       : 100%
	),
);

$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
$c-black            : return-value(color, black);
$c-nero             : return-value(color, nero);
$c-light-grey       : return-value(color, light-grey);
$c-azure	        : return-value(color, azure);
$c-aqua		        : return-value(color, aqua);
$c-prussian-blue    : return-value(color, prussian-blue);
$c-venice-blue	    : return-value(color, venice-blue);
$c-lynch		    : return-value(color, lynch);
$c-pacific-blue	    : return-value(color, pacific-blue);

$f-OS-regular		: return-value(fonts, OS-regular);
$f-OS-light			: return-value(fonts, OS-light);
$f-OS-bold			: return-value(fonts, OS-bold);
$f-OS-semibold		: return-value(fonts, OS-semibold);
$f-OS-extrabold		: return-value(fonts, OS-extrabold);
$f-PN-thin 			: return-value(fonts, PN-thin);
$f-PN-light 		: return-value(fonts, PN-light);
$f-PN-regular 		: return-value(fonts, PN-regular);
$f-PN-semibold 		: return-value(fonts, PN-semibold);
$f-PN-bold 			: return-value(fonts, PN-bold);
$f-PN-extrabold 	: return-value(fonts, PN-extrabold);
$f-PN-black 		: return-value(fonts, PN-black);