///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
///
/// COPYRIGHT
///
.copyright {
  float: left;
  line-height: 70px;
  @include respond-to(small-max) {
    float: none;
    line-height: normal;
  }


  &__text {
    font: {
      size: 12px;
    };
    letter-spacing: .5px;
    color: $c-light-grey;
    margin-bottom: 0;
    @include respond-to(small-max) {
      font-size: 11px;
    }


    &_wrap {
      @include respond-to(small-max) {
        display: block;
      }
    }
  }


  &__line {
    font: {
      size: 12px;
    };
    letter-spacing: .5px;
    color: $c-light-grey;


    &_0 {
      @include respond-to(small-max) {
        display: none;
      }
    }
  }
}