///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
///
/// COPYRIGHT
///
.copyright {
  float: left;
  line-height: 71px;


  &__text {
    font: {
      size: 12px;
    };
    letter-spacing: .5px;
    color: $c-light-grey;
    margin-bottom: 0;
  }
}