///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
///
/// LOGOTYPE
///
.logotype {
  position: absolute;
  top: -30px;
  left: 15px;
  @include mixinDimensions(330px, 145px);
  text-align: center;
  box-shadow: 0px 30px 30px 0 rgba(0,0,0,.06);
  background: rgb(245,246,246);
  background: -moz-linear-gradient(top,  rgba(245,246,246,1) 0%, rgba(222,222,222,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(245,246,246,1) 0%,rgba(222,222,222,1) 100%);
  background: linear-gradient(to bottom,  rgba(245,246,246,1) 0%,rgba(222,222,222,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#dedede',GradientType=0 );
  @include respond-to(small-max) {
    top: auto;
    left: auto;
    @include mixinDimensions(auto);
    text-align: left;
    box-shadow: none;
    background: none;
  }


  &__img {
    cursor: pointer;
    margin-top: 30px;


    &_desktop {
      @include respond-to(small-max) {
        display: none;
      }
    }


    &_mobile {
      display: none;
      @include respond-to(small-max) {
        display: block;
        width: (164px / 2);
        margin-top: 11px;
      }
    }
  }
}