///
/// IMPORT FILES
///
@import "../_mixin/mixin";
@import "../_variable/variable";
@import "../_variable/sprite";
///
/// SOCIAL
///
.social {
  float: right;
  // 24px - this is icons dimensions
  margin-top: (71px - 24) / 2;


  &__icon {
    display: inline-block;
    margin-right: 10px;
  }
}
@each $className, $iconName in
      ("fb", $sp-i-fb-group),
      ("tw", $sp-i-tw-group),
      ("gp", $sp-i-gp-group),
      ("l", $sp-i-l-group)
{
  .social__icon-#{$className} {
    @include retina-sprite($iconName);
  }
}