
header.header
    .header_top

    .container_fluid.container

        include logotype

    nav.nav
        .nav_bgColor
        .nav_bgImage

        .container_fluid.container.clearfix

            include nav

            include info-login-flags

    .header_bottom
