
header.header
    // top line gray
    .header_top

    .container_fluid.container

        include logotype

    nav.nav
        // add two block for bg & bg image replay [pattern overlay]
        .nav_bgColor
        .nav_bgImage

        .container_fluid.container.clearfix

            include nav

            include info-login-flags

    // bottom line after navigation
    .header_bottom
