include _mixin/mixin
include _mixin/macrosMixin

-
    var boolInfoLoginLang = false;


doctype html
html(
    lang="en",
    class="js")


    +headSite("ExpertCollege main", linkSite.styleLinkIndex, "")


    body

        // HEADER
        include _template/header

        // MAIN CONTAINER FOR OTHER MODULE
        main.main.main_main


            include ./_template/swap


        // FOOTER
        include _template/footer


    - for(var i = 0; i < linkSite.scriptLink.length; i++)
        script(src= linkSite.scriptLink[i])