///
/// IMPORT FILES
///
@import "./_mixin/mixin";
@import "./_variable/variable";
@import "./_variable/sprite";
///
/// MAIN STYLE
///
body,
html {
  width: $w-all;
  height: $w-all;
}
body {
  min-height: $w-all;
  font-family: $f-PN-regular;
}
.clearfix {
  *zoom: 1;

  &:after {
    clear: both;
  }

  &:before,
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
  }
}
.img {
  &_responsive {
    max-width: $w-all;
    height: auto;
  }
}
///
/// CONTAINER FLUID
///
.container_fluid {
  position: relative;
  padding: {
    left: 15px;
    right: 15px;
  };
  margin: {
    left: auto;
    right: auto;
  };
  @include respond-to(extra-large) {
    max-width: 1400px;
    width: $w-all;
  }
}
///
/// MAIN
///
.main {
  //height: calc(100% - (102px + 71px));
  min-height: calc(100% - (102px + 71px));
  overflow: hidden;


  &_login {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $c-venice-blue;
    background-image: url("../image/img-login-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


  &_main {
    position: relative;
    padding: 70px;
    background-image: url("../image/img-main-bg.png");
    background-size: cover;
    background-position: center;


    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      @include mixinDimensions($w-all);
      background-color: rgba($c-white, 0.75);
    }
  }


  >.container-fluid {
    height: 100%;
  }
}
///
///
///
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  @include retina-sprite($sp-i-swiper-arr-prev-group);
  &:hover {
    @include respond-to(medium-min) {
      @include retina-sprite($sp-i-swiper-arr-prev-hover-group);
    }
  }
  &:active {
    @include retina-sprite($sp-i-swiper-arr-prev-hover-group);
  }
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  @include retina-sprite($sp-i-swiper-arr-next-group);
  &:hover {
    @include respond-to(medium-min) {
      @include retina-sprite($sp-i-swiper-arr-next-hover-group);
    }
  }
  &:active {
    @include retina-sprite($sp-i-swiper-arr-next-hover-group);
  }
}
.swiper-button-prev,
.swiper-button-next {
  &__text {
    position: absolute;
    top: 15px;
    white-space: nowrap;
    font: {
      size: 18px;
      family: $f-PN-semibold;
    };
    color: $c-prussian-blue;
    text-transform: uppercase;
  }
}


.swiper-button-prev {
  &__text {
    left: 24px;
  }
}
.swiper-button-next {
  &__text {
    right: 24px;
  }
}
///
/// BTN DOP INFO
///
.btn {
  &__select {
    position: relative;
    width: 100%;
    font: {
      size: 14px;
      family: $f-OS-bold;
    };
    text-shadow: none;


    &-text {
      opacity: .5;
      text-align: left;
    }


    &-caret {
      &--wrap {
        position: absolute;
        right: 0;
        top: 0;
        @include mixinDimensions(45px, $w-all);
        text-align: center;
        border-left: 1px solid #ccc;
      }
    }
  }
}