///
/// IMPORT FILES
///
@import "./_mixin/mixin";
@import "./_variable/variable";
@import "./_variable/sprite";
///
///
///
body,
html {
  width: $w-all;
  height: $w-all;
}
body {
  min-height: $w-all;
  font-family: $PNS-regular;
}
.clearfix {
  *zoom: 1;

  &:after {
    clear: both;
  }

  &:before,
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
  }
}
.img {
  &_responsive {
    max-width: $w-all;
    height: auto;
  }
}
///
///
///
.container_fluid {
  position: relative;
  padding: {
    left: 15px;
    right: 15px;
  };
  margin: {
    left: auto;
    right: auto;
  };
  @include respond-to(extra-large) {
    max-width: 1400px;
    width: $w-all;
  }
}
///
///
///
.main {
  height: calc(100% - (102px + 71px));
  min-height: calc(100% - (102px + 71px));
  background-color: $c-venice-blue;
  background-image: url("../image/img-login-bg.png");
  background-size: cover;
  background-position: top center;
}
///
///
///
