/// MAIN FILES
//@import "_template/_main/_grid";
//@import "_template/_main/_main";

/// MAIN TMPL
@import "_template/header";
@import "_template/footer";

.circle {
  position: relative;
  margin: {
    left: auto;
    right: auto;
    bottom: 30px;
  };
  @include mixinDimensions(600px);
  border-radius: $w-all;
  border: 15px solid $c-pacific-blue;
  text-align: center;


  &__block {
    position: absolute;
    border-radius: $w-all;
    @include mixinDimensions(160px);
    background-color: $c-pacific-blue;
    box-shadow: 0 7px 10px 0 rgba(0,0,0,0.2);

    &_0 {
      top: -30px;
      left: 60px;
    }
    &_1 {
      top: -30px;
      right: 60px;
    }
    &_2 {
      bottom: -30px;
      left: 60px;
    }
    &_3 {
      bottom: -30px;
      right: 60px;
    }
    &_4 {
      top: 50%;
      margin-top: -75px;
      left: -75px;
    }
    &_5 {
      top: 50%;
      margin-top: -75px;
      right: -75px;
    }
  }
}
text {
  stroke: $c-white;
  stroke-width: 1.5px;
  font-size: 65px;
  font-family: $f-PN-black;
  text-align: center;
  text-shadow: 0 13px 16px rgba(48, 48, 48, 0.17);
  alignment-baseline: middle;
  text-anchor: middle;
}
